"""Initial schema"""
import sqlalchemy as sa
from sqlalchemy.dialects import postgresql
from alembic import op

revision = '0001'
down_revision = None
branch_labels = None
depends_on = None


def upgrade() -> None:
{% for entity in entities %}
    op.create_table(
        '{{ entity.table_name }}',
{% for col in entity.columns %}
        sa.Column('{{ col.name }}', {{ col.sa_type }}{{ col.extras }}),
{% endfor %}
    )

{% endfor %}

def downgrade() -> None:
{% for entity in entities_reversed %}
    op.drop_table('{{ entity.table_name }}')
{% endfor %}
