{
  "Logging": {
    "LogLevel": {
      "Default": "{{ default_log_level }}",
      "Microsoft.AspNetCore": "Warning"
    }
  }{% if not is_development %},
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Data Source=app.db"
  }{% endif %}

}
