namespace Api;

using Microsoft.EntityFrameworkCore;
using Microsoft.Extensions.Configuration;
using Microsoft.Extensions.DependencyInjection;
{% if repositories %}
using Application.Interfaces;
using Infrastructure.Persistence.Repositories;
{% endif %}
{% if services %}
using Application.Services;
{% endif %}
using {{ dbcontext_namespace }};

public static class ServiceCollectionExtensions
{
    public static IServiceCollection AddApplicationServices(this IServiceCollection services, IConfiguration configuration)
    {
        var connectionString = configuration.GetConnectionString("DefaultConnection") ?? "Data Source=app.db";
        services.AddDbContext<AppDbContext>(options => options.UseSqlite(connectionString));
{% if repositories %}

{% for repo in repositories %}
        services.AddScoped<{{ repo.interface }}, {{ repo.implementation }}>();
{% endfor %}
{% endif %}
{% if services %}

{% for svc in services %}
        services.AddScoped<{{ svc.interface }}, {{ svc.implementation }}>();
{% endfor %}
{% endif %}

        return services;
    }
}
