<Project Sdk="Microsoft.NET.Sdk.Web">

  <ItemGroup>
    <ProjectReference Include="..\Application\{{ root_namespace }}.Application.csproj" />
    <ProjectReference Include="..\Infrastructure\{{ root_namespace }}.Infrastructure.csproj" />
  </ItemGroup>

</Project>
