
Microsoft Visual Studio Solution File, Format Version 12.00
# Visual Studio Version 17
VisualStudioVersion = 17.0.31903.59
MinimumVisualStudioVersion = 10.0.40219.1
{% for project in projects %}
Project("{{ project.type_guid }}") = "{{ project.name }}", "{{ project.dir }}/{{ project.name }}.csproj", "{{ project.guid }}"
EndProject
{% endfor %}
Global
	GlobalSection(SolutionConfigurationPlatforms) = preSolution
		Debug|Any CPU = Debug|Any CPU
		Release|Any CPU = Release|Any CPU
	EndGlobalSection
	GlobalSection(SolutionProperties) = preSolution
		HideSolutionNode = FALSE
	EndGlobalSection
	GlobalSection(ProjectConfigurationPlatforms) = postSolution
{% for project in projects %}
		{{ project.guid }}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{{ project.guid }}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{{ project.guid }}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{{ project.guid }}.Release|Any CPU.Build.0 = Release|Any CPU
{% endfor %}
	EndGlobalSection
EndGlobal
